/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */

body{
  width: 100%;
  height: 100vh;
  background-color: #d3d3d3;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  align-items: center;
  place-content: center;
}

/* div and align */

#traffic-light{
  height: 450px;
  width: 200px;
  display: grid;
  place-content: center;
  grid-template-rows: auto auto auto;
  row-gap: 25px;
}

#timer{
  height: 200px;
  width: 250px;
  display: grid;
  place-content: center;
}

.circle{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

/* inner border */

#traffic-light, #timer{
  position: relative;
  z-index: 1;
  background-color: #131313;
  border-radius: 15px;
}

#traffic-light:before, #timer:before{
  content: "";
  position: absolute;
  z-index: -1;
  border: solid 3px #fff;
  border-radius: 10px;
  top: 5px;
  bottom: 5px;
  right: 5px;
  left: 5px;
}

/* font and text */

#timer {
  font-family: "Iceberg", sans-serif;
  font-size: 170px;
  color: #ffffff;
}

/* light on */

.green-on {
  background-color: #60c904;
  box-shadow: 0px 0px 15px #60c904;
}

.yellow-on {
  background-color: #e5de00;
  box-shadow: 0px 0px 15px #e5de00;
}

.red-on {
  background-color: #ff2c2c;
  box-shadow: 0px 0px 15px #ff2c2c;
}

/* light off */

.green-off {
  background-color: #006400;
  box-shadow: none;
}

.yellow-off {
  background-color: #cd8d00;
  box-shadow: none;
}

.red-off {
  background-color: #8b0000;
  box-shadow: none;
}